.thirdblock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    margin-bottom: 40px;
    img{
        width: 100%;

    }
    .hoverimg{
        position: relative;
        
        @include textcolor;
        @include font;
        img{
            display: block;
        }
        
    }
        .hoverimg::before{
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
        position: absolute;
        transition: all .3s ease-in-out;
        opacity: 0;

    }
    .hoverimg:hover::before{
        opacity: 1;
    }
    .hoverimg::after{
        content: "";
        border-style: solid;
        border-width: 1em 1em 1em 0;
        border-color: rgb(255, 255, 255) transparent transparent transparent;
        position: absolute;
        top: 50% ;
        left: 50%;
        transform: translate(-100%,-50%) rotate(135deg);
        opacity: .1;
        @include trans;
    }
    .hoverimg:hover::after{
        opacity: 1;
    }
   

}